body{
    background-color: rgb(249, 249, 246);
}

#container {
  position: relative;
  margin: auto;
  height: 40vw;
  width: 40vw;
  background-image: url(clock.png);
  background-size: 100%;
}
#hour,
#minute,
#second {
  position: absolute;
  border-radius: 50%;
  /* border:1px solid black; */
  background-color: black;
  transform-origin: bottom;
}

#hour {
  width: 1.4%;
  height: 25%;
  top: 25%;
  left: 48.85%;
  opacity: 0.8;
background-color: green;
}
#minute {
  width: 1%;
  height: 30%;
  top: 19%;
  left: 48.9%;
  opacity: 0.8;
background-color: blue;

}
#second {
  width: 0.8%;
  height: 40%;
  top: 9%;
  left: 49.25%;
  opacity: 0.8;
background-color:rgb(195, 0, 0) ;
}
